
body{ background-color: beige;
      
}
h1{
    text-align: center;
    font-family: monospace;
    margin-top: 10%;
    font-size: 40px;
}
.input{
    text-align: center;

}
#name{
    margin-bottom: 5px;
    border-radius: 15px;
    padding: 5px 5px 5px 30px ;
    box-sizing: content-box;
    border-color:white;
}
#password{
    border-radius: 15px;
    padding: 5px 5px 5px 30px ;
    margin-bottom: 9px;
    border-color:white;
    
}
#myButton{
    margin-left: 43.1%;
    margin-right: 50%;
    margin-top: -15px;
    padding: 5px 68px 5px 68px;
    background-color: bisque;
    border-radius: 15px;
    border-color:white;
    
}
#myButton:hover{
    color: black;
    border-color: black;
}
#error-msg{
    margin: 0px 0px 0px 0px;
    color: red;
}
#showpassword{
    margin-top: 10px;
    color: red;
}
