
body{ background-color: beige;
      
}
h1{
    text-align: center;
    font-family: monospace;
    margin-top: 10%;
    font-size: 40px;
}
.input{
    text-align: center;
    

}
#name{
    margin-bottom: 5px;
}
#myButton{
    align-items: center;
    margin-left: 43.5%;
    margin-right: 50%;
    margin-top: 10px;
    padding-left: 65px;
    padding-right: 65px;
    
}
#myButton:hover{
    background-color: bisque;
    color: black;
}
#error-msg{
    margin-left: 50%;
    margin-right: 50%;
}
#error-msg{
    margin-left: 45%;
}